# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# dotenv file
.env

# TF plan files
plan
tfplan
tfplan.json

# Trivy cache
.pre-commit-trivy-cache
